<div class="nav">

        <header class="header">
            <a href="" class="logo">
                <div class="logo_subblock">
                    <div class="media">
                       <img src="/img/personal_avatar.png" alt="Hamza Tasneem">
                        <div class="media-body ">
                            <h4>Hamza Tasneem <small><i></i></small></h4>
                            <p>Software Engineer | Web Developer</p>
                        </div>
                    </div>
                </div>
            </a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="https://hamzatasneem.com/">Home</a></li>
                <li><a href="https://mywork.hamzatasneem.com/">My Work</a></li>
                <li><a href="https://blog.hamzatasneem.com/">My Blog</a></li>
                <li><a href="https://hamzatasneem.com/about">Find Me</a></li>
                <li ><a class="headerMenuIcon" href="/users/login"></a></li>
            </ul>
        </header>

    </div>