<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Blog - Hamza Tasneem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="../public/fonts/font_quicksand.css" rel="stylesheet">
    <link href="../public/fonts/font_raleway.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/blog.css">
</head>

<body>
    <div class="container">
        <div class="nav">

            <header class="header">
                <a href="" class="logo">
                    <div class="logo_subblock">
                        <div class="media">
                            <img src="../public/img/personal_avatar.png" alt="John Doe">
                            <div class="media-body ">
                                <h4>Hamza Tasneem <small><i></i></small></h4>
                                <p>Software Engineer | Web Developer</p>
                            </div>
                        </div>
                    </div>
                </a>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="#work">Home</a></li>
                    <li><a href="#about">My Work</a></li>
                    <li><a href="#careers">My Blog</a></li>
                    <li><a href="#contact">Find Me</a></li>
                </ul>
            </header>

        </div>
        <div class="main">

            <div class="blog-col blog-left-col blog-col-single ">
                <div class="col-content">
                    <div class="post-single">
                        <div class="post-single-description">
                            <h2 class="post-single-title">This is the 1st test blog that you will see</h2>
                            <div class="post-single-subtitle">By Hamza Tasneem on 20 Aug 19
                                <span>
                                    <img src="../public/img/icons/social/icons8-facebook-old-filled-50.png" alt="" />
                                    <img src="../public/img/icons/social/icons8-facebook-old-filled-50.png" alt="" />
                                </span>
                            </div>
                            <img class="post-single-img" src="https://www.fillmurray.com/640/360" alt="">
                            <div class="post-single-text">
                                (This article was last updated on 23 May 2018)

                                UI design is all about problem-solving. The result is an interface that’s simple,
                                beautiful and easy to use. I’ve read quite a few UI design books over the years and
                                they’ve definitely helped me gain a solid foundation in the principles of interface
                                design. I love reading, but there are only so many hours in a day, so you need to choose
                                your books wisely. With so many UI design books out there, it’s sometimes hard to figure
                                out which ones are worth reading. With this in mind, I’ve put together a list of my
                                favourite UI design books that I hope you’ll find helpful. Let me know what your own
                                favourites are and how they’ve improved your UI design process.(This article was last
                                updated on 23 May 2018). <br>

                                UI design is all about problem-solving. The result is an interface that’s simple,
                                beautiful and easy to use. I’ve read quite a few UI design books over the years and
                                they’ve definitely helped me gain a solid foundation in the principles of interface
                                design. I love reading, but there are only so many hours in a day, so you need to choose
                                your books wisely. With so many UI design books out there, it’s sometimes hard to figure
                                out which ones are worth reading. With this in mind, I’ve put together a list of my
                                favourite UI design books that I hope you’ll find helpful. Let me know what your own
                                favourites are and how they’ve improved your UI design process.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="blog-col blog-right- blog-single-right-col">
                <div class="col-content">
                    <h2>Related Content</h2>
                    <div class="related-box">
                        
                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                            </div>
                        </div>
                        
                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>