<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Blog - Hamza Tasneem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="../public/fonts/font_quicksand.css" rel="stylesheet">
    <link href="../public/fonts/font_raleway.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/blog.css">
</head>

<body>
    <div class="container">
        <div class="nav">

            <header class="header">
                <a href="" class="logo">
                    <div class="logo_subblock">
                        <div class="media">
                            <img src="../public/img/personal_avatar.png" alt="John Doe">
                            <div class="media-body ">
                                <h4>Hamza Tasneem <small><i></i></small></h4>
                                <p>Software Engineer | Web Developer</p>
                            </div>
                        </div>
                    </div>
                </a>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="#work">Home</a></li>
                    <li><a href="#about">My Work</a></li>
                    <li><a href="#careers" class="active">My Blog</a></li>
                    <li><a href="#contact">Find Me</a></li>
                </ul>
            </header>

        </div>
        <div class="main">

            <div class="blog-col blog-left-col ">
                <div class="col-content">
                    <!-- <h2>Blog</h2> -->
                    <div class="posts">
                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                                <div class="post-text">Software Engineer by profession and Web Developer & Designer by
                                    choice.
                                    Feel free to look around, check the services I provide and the products I make. Find
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/dissdash_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">This is the 1st test blog that you will see</div>
                                <div class="post-text">Software Engineer by profession and Web Developer & Designer by
                                    choice.
                                    Feel free to look around, check the services I provide and the products I make. Find
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/dissdash_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">This is the 1st test blog that you will see</div>
                                <div class="post-text">Software Engineer by profession and Web Developer & Designer by
                                    choice.
                                    Feel free to look around, check the services I provide and the products I make. Find
                                </div>
                            </div>
                        </div>


                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                                <div class="post-text">Software Engineer by profession and Web Developer & Designer by
                                    choice.
                                    Feel free to look around, check the services I provide and the products I make. Find
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                                <div class="post-text">Software Engineer by profession and Web Developer & Designer by
                                    choice.
                                    Feel free to look around, check the services I provide and the products I make. Find
                                </div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar can be quiet a blower</div>
                                <div class="post-text">Software Engineer by profession and Web Developer & Designer by
                                    choice.
                                    Feel free to look around, check the services I provide and the products I make. Find
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="blog-col blog-right-col blog-right-col-summary">
                <div class="col-content">
                    <h2>Blog Summary</h2>
                    <div class="most-viewed-box">
                        <div class="most-viewed-content">
                            <img class="most-viewed-img" src="../public/img/portfolio//uniminer_feat.png"
                                alt="My Picture">
                            <div class="most-viewed-title">Retail Bazar can be quiet a blower</div>
                            <div class="most-viewed-text">
                                Software Engineer by profession and Web Developer & Designer by choice.Feel free to look
                                around, check the services I provide and the products I make. Find More
                                about me here.

                                I also find myself making some techy stuff and coping up with latest trends, If you
                                share
                                any of these interests or just randomly want to jump into some project. Feel free to
                                contact
                                me here or any of the social links provided at the bottom. I admire the patience that
                                you
                                read it. Regards.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>