<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home - Hamza Tasneem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="../public/fonts/font_quicksand.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href="../public/css/index_flexbox.css">
</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="home-col home-left-col">
                <div class="media">
                    <img src="../public/img/personal_avatar.png" alt="Hamza Tasneem" style="width:60px;">
                    <div class="media-body ">
                        <h4>Hamza Tasneem <small><i></i></small></h4>
                        <p>Software Engineer | Web Developer</p>
                    </div>
                </div>
            </div>
            <div class=" home-col home-mid-col "></div>
            <div class=" home-col home-right-col "></div>

        </div>
        <div class="main">
            <div class=" home-col home-left-col ">

                <div class="col-content">
                    <span><a href="portfolio.hamzatasneem.com">My Work</a> 
                        <hr></span>
                    <div>Freelance</div>
                    <div>Personal</div>
                    <div>Team Projects</div>
                </div>
            </div>
            <div class=" home-col home-mid-col ">
                <div class="col-content">
                    <span><a href="blog.hamzatasneem.com">My Blog &nbsp;</a> 
                        <hr></span>
                    <div>Personal Blogs</div>
                    <div>Affiliates</div>
                    <div>Others</div>

                </div>
            </div>
            <div class=" home-col home-right-col ">
                <div class="col-content">
                    <span><a href="/about.html">My Self &nbsp;&nbsp;</a> 
                        <hr></span>
                    <div>Services</div>
                    <div>About</div>
                    <div>Contact</div>
                </div>
            </div>
        </div>
        <div class="fixed-tool"><a href="/index_bootstrap.html">&#10003; Made With FlexBox<br>&#10003; Switch To Bootstrap</a></div>
    </div>
</body>

</html>