<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My Self - Hamza Tasneem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="../public/fonts/font_quicksand.css" rel="stylesheet">
    <!-- <link rel='stylesheet' type='text/css' href="../public/css/index_flexbox.css"> -->
    <link rel="stylesheet" href="../public/css/myself.css">
</head>

<body>
    <div class="container">
        <div class="nav">

            <header class="header">
                <a href="" class="logo">
                    <div class="logo_subblock">
                        <div class="media">
                            <img src="../public/img/personal_avatar.png" alt="John Doe" >
                            <div class="media-body ">
                                <h4>Hamza Tasneem <small><i></i></small></h4>
                                <p>Software Engineer | Web Developer</p>
                            </div>
                        </div>
                    </div>
                </a>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="#work">Home</a></li>
                    <li><a href="#about">My Work</a></li>
                    <li><a href="#careers">My Blog</a></li>
                    <li><a href="#contact">Find Me</a></li>
                </ul>
            </header>

        </div>
        <div class="main">
            <div class=" self-col self-left-col ">

                <div class="col-content">
                    <h2>About Me</h2>
                    <div class="myself-box">
                        <img class="myself-img" src="../public/img/mypic.jpg" alt="My Picture">
                        <div class="myself-text">Software Engineer by profession and Web Developer & Designer by choice.
                            Feel free to look around, check the services I provide and the products I make. Find More
                            about me here.

                            I also find myself making some techy stuff and coping up with latest trends, If you share
                            any of these interests or just randomly want to jump into some project. Feel free to contact
                            me here or any of the social links provided at the bottom. I admire the patience that you
                            read it. Regards.</div>
                    </div>
                    <div class="exp-bar-div">
                        <div class="exp-bar">
                            <div class="exp-bar-text"><span style="text-align: left;">Experience</span> 4+ Years</div>
                            <div class="exp-bar-outer">
                                <div class="exp-bar-inner"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class=" self-col self-mid-col ">
                <div class="col-content">

                    <div class="myservices-box">
                        <h2>What I Do</h2>
                        <div class="services">
                            <div class="service">
                                <img class="service-icon" src="../public/img/icons/greys/icons8-developer-6.png" alt="">
                                <div class="service-text">Web Dev</div>
                            </div>
                            <div class="service">
                                <img class="service-icon" src="../public/img/icons/greys/icons8-web-64.png" alt="">
                                <div class="service-text">Web Design</div>
                            </div>
                            <div class="service">
                                <img class="service-icon" src="../public/img/icons/greys/icons8-laptop-64.png" alt="">
                                <div class="service-text">Desktop Dev</div>
                            </div>
                            <div class="service">
                                <img class="service-icon" src="../public/img/icons/greys/icons8-ios-development-80.png"
                                    alt="">
                                <div class="service-text">Mobile Dev</div>
                            </div>
                            <div class="service">
                                <img class="service-icon" src="../public/img/icons/greys/icons8-big-data-50.png" alt="">
                                <div class="service-text">Data Science</div>
                            </div>
                            <div class="service">
                                <img class="service-icon" src="../public/img/icons/greys/icons8-marketing-64.png"
                                    alt="">
                                <div class="service-text">Social Marketing</div>
                            </div>

                        </div>
                        <h2>What I Know</h2>
                        <div class="skills">
                            <div class="skill">
                                <img class="skill-img" src="../public/img/icons/node_new.png" alt="">
                                <div class="skills-bar-box">
                                    <div class="skill-text"><span>Nodejs</span> <span>50%</span></div>
                                    <div class="skill-bar">
                                        <div class="bar-back" style="width:50%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <img class="skill-img" src="../public/img/icons/php_new.png" alt="">
                                <div class="skills-bar-box">
                                    <div class="skill-text"><span>PHP</span> <span>70%</span></div>
                                    <div class="skill-bar">
                                        <div class="bar-back" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <img class="skill-img" src="../public/img/icons/html_new.png" alt="">
                                <div class="skills-bar-box">
                                    <div class="skill-text"><span>HTML</span> <span>90%</span></div>
                                    <div class="skill-bar">
                                        <div class="bar-back" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <img class="skill-img" src="../public/img/icons/css_new1.png" alt="">
                                <div class="skills-bar-box">
                                    <div class="skill-text"><span>CSS</span> <span>70%</span></div>
                                    <div class="skill-bar">
                                        <div class="bar-back" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <img class="skill-img" src="../public/img/icons/js_new.png" alt="">
                                <div class="skills-bar-box">
                                    <div class="skill-text"><span>Javascript/ JQuery</span> <span>70%</span></div>
                                    <div class="skill-bar">
                                        <div class="bar-back" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <img class="skill-img" src="../public/img/icons/database_new.png" alt="">
                                <div class="skills-bar-box">
                                    <div class="skill-text"><span>MySQL & MongoDB</span> <span>70%</span></div>
                                    <div class="skill-bar">
                                        <div class="bar-back" style="width:70%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" self-col self-right-col ">
                <div class="col-content">
                    <h2>Contact Me</h2>
                    <div class="contact-box">

                        <label for="name">Name</label>
                        <input id="name" class="name" name="name" type="text">

                        <label for="email">Email<small> (Required)</small></label>
                        <input id="email" class="email" name="email" type="text">

                        <label for="subject">Subject</label>
                        <input id="subject" class="subject" name="subject" type="text">

                        <label for="description">Message<small> (Required)</small></label>
                        <textarea id="description" class="description" ></textarea>

                        <div class="btn-div">
                            <button id="button_send" class="btn-form">Send</button>
                            <button id="button_clear" class="btn-form">Clear</button>
                        </div>
                    </div>
                    <h2 style="margin-bottom:5px;">Follow Me</h2>
                    <div class="follow-box">
                        <img src="../public/img/icons/social/icons8-facebook-old-filled-50.png" alt="">
                        <img src="../public/img/icons/social/icons8-google-plus-filled-50.png" alt="">
                        <img src="../public/img/icons/social/icons8-twitter-squared-filled-50.png" alt="">
                        <img src="../public/img/icons/social/icons8-linkedin-filled-50.png" alt="">
                        <img src="../public/img/icons/social/upwork.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="fixed-tool">&#10003; Made With FlexBox<br>&#10003; Switch To Bootstrap</div> -->
    </div>
</body>

</html>