<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>My portfolio - Hamza Tasneem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="../public/fonts/font_quicksand.css" rel="stylesheet">
    <link href="../public/fonts/font_raleway.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/portfolio.css">
</head>

<body>
    <div class="container">
        <div class="nav">

            <header class="header">
                <a href="" class="logo">
                    <div class="logo_subblock">
                        <div class="media">
                            <img src="../public/img/personal_avatar.png" alt="John Doe">
                            <div class="media-body ">
                                <h4>Hamza Tasneem <small><i></i></small></h4>
                                <p>Software Engineer | Web Developer</p>
                            </div>
                        </div>
                    </div>
                </a>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="#work">Home</a></li>
                    <li><a href="#about">My Work</a></li>
                    <li><a href="#careers">My Blog</a></li>
                    <li><a href="#contact">Find Me</a></li>
                </ul>
            </header>

        </div>
        <div class="main">
            <div class=" portfolio-col portfolio-left-col ">

                <div class="col-content">

                    <div class="posts">
                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/dissdash_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">DISSDASH BLOG</div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/retailbazar_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Retail Bazar</div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/Html5ism_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">HTML5ISM</div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/Shaz_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">SHAZ Player</div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/heroes_feat2.png" alt="">
                            <div class="post-description">
                                <div class="post-title">Never Forger Our Heroes</div>
                            </div>
                        </div>

                        <div class="post">
                            <img class="post-img" src="../public/img/portfolio/uniminer_feat.png" alt="">
                            <div class="post-description">
                                <div class="post-title">UNIMINER</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_outer">
        <div id="modal_inner">
            <div id="modal_content">
                <h2>SHAZ Player <i id="modal_close"></i></h2>
                <div id="modal_secondry_content">
                    <div class="modal_text_div">
                        <p>SHAZ Player was made by me as a side project. At start it was made simply to run multiple
                            formats of videos in multiple windows at a time and to gain more control over frame rate and
                            other aspects of vedios. It turned out to be a complete database backed player with
                            capability to stream vedios from file systems using p2p architecture. SHAZ Player is made
                            from VLCJ - A library provided by the creators of VLC Player and hence uses same underlaying
                            technology with some modifications to bend it according to our needs/requirements. <br />
                            Category: Desktop Application, Side-Project <br />Technology Stack: Java SE, MySQL, WebSockets <br />External
                            Libraries: VLCj </p>
                    </div>
                    <div class="modal_img_div">
                        <img src="../public/img/portfolio/Shaz_feat.png" alt="SHAZ Player">
                        <img src="../public/img/portfolio/Shaz_feat.png" alt="SHAZ Player">
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript">
        document.getElementById("modal_outer").ondblclick = function () {
            document.getElementById("modal_outer").style.display = "none";
        }

        document.getElementById("modal_close").onclick = function () {
            document.getElementById("modal_outer").style.display = "none";
        }

        var post_array = document.getElementsByClassName("post");
        for (var i = 0; i < post_array.length; i++) {
            post_array[i].onclick = function () {
                document.getElementById("modal_outer").style.display = "flex";
            }
        };

    </script>

</body>

</html>